@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono");
/* body {
  background: #263238;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
} */
@media screen and (max-height: 375px) {
  body {
    position: relative;
    overflow: auto;
  }
}

.card {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .card {
    width: 100%;
  }
}

#editorWrapper {
  position: relative;
  height: 100%;
  min-height: 30vh;
}

#editorWrapper-checker{
  position: relative;
  height: 100%;
  min-height: 50vh;
}

@media (min-height: 600px) {
  #editorWrapper {
    height: 30vh;
  }
  #editorWrapper-checker {
    height: 50vh;
  }
}
@media (min-height: 900px) {
  #editorWrapper {
    height: 30vh;
  }
  #editorWrapper-checker {
    height: 50vh;
  }
}
#editorWrapper #command_prompt,#editorWrapper-checker #check_corpus_response {
  /* font-family: "Roboto Mono", monospace; */
  font-size: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



  /* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap'); */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Alegreya Sans", sans-serif; */
    /* font-family: 'Prompt', sans-serif; */
    
  }
  
  h1{
    color: white;
  }
  
  hr{
    color: white;
  }
  
  body{
    background-color: #343541;
    overflow: hidden;
  }
  
  #prompt::placeholder {
    color: rgb(143, 143, 143);
  }
  
  .darker{
    background-color: #343541;
    /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
  }
  .lighter{
    background-color: #444654;
  }
  
  .training-corpus-form-box,.update-corpus-form-box,.check-corpus-form-box{
    padding:100px 0;
    height: 100vh;
  }
  
  .navbar{
    position: fixed;
    z-index: 9999;
    width: 100vw;
  }
  
  .input-ce{
    margin-right: 10px;
  }
  .right-margin {
    margin-right: 40px;
}

  
  @media only screen and (max-width: 768px) {
    /* For desktop: */
    .sidebar{
      visibility: hidden;
      width: 0px;
      height: 0px;
      padding: 0;
    }
  }
  

/* .btn {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Russo One", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 0.15em;
  line-height: 2.5;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 1em;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
  background-color: #FFA71A;
}
.btn:hover {
  background-color: #cd7e00;
} */